@import "tailwindcss";

@theme {
    --animate-pulsar: pulsar 5s ease-in-out infinite;

    @keyframes pulsar {
        0%, 100% {
            transform: scale(1.1);
        }
        50% {
            transform: scale(1);
        }
    }
}